<!DOCTYPE html>
<html>
<head>
	<title>RSDL</title>
</head>
<body>
	<a href ="/views/RSDL.xml" target="_blank"> Click here for RSDL documentation.</a>
  <!-- <a href ="../RSDL.xml" target="_blank"> Click here for RSDL documentation.</a> -->
</body>
</html>
